仕様をspec.mdに記載します。
プロジェクトの開始時にspec.mdがない場合は作成します。
仕様の変更がある場合は、必ずspec.mdを確認します。
spec.mdの変更が必要になった場合は、必ず、spec.mdを編集してから実装を行います。
コード作成時は必ずセキュリティリスクがないか確認し、セキュリティリスクのある情報（API-Keyやsecret-Keyなど）はすべてsecret.txtで管理し、プログラム内では直接記述せず、環境変数として呼びだす。
secret.txtはgitの管理外とするため.gitignoreにて記述する。.gitignoreの内容を変更する際はユーザーに許可を取ること。